@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  height: 100%;
}

.root {
  width: 375px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 68px;
  background-color: rgba(195, 207, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(232, 131, 58, 1);
  font-size: 34px;
  font-weight: 400;
}

h2 {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: rgba(41, 56, 69, 1);
}

.movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  width: 40%;
  margin-bottom: 11px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.movie img {
  padding: 8px;
  width: 100%;
  height: 100%;
}

.sessions{
    margin-left: 24px;
    padding-bottom: 120px;
}

.sessions h3{
    color: rgba(41, 56, 69, 1);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
}

.movie-hours{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;   
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 83px;
    margin-right: 8px;
    background-color: rgba(232, 131, 58, 1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 117px;
    width: 375px;
    background-color: rgba(158, 173, 186, 1);
}

.footer .movie{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 20%;
    margin: 14px;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    color: rgba(41, 56, 69, 1);
    font-size: 26px;
    font-weight: 400;
    max-width: 260px;
}
.title div{
  padding-top: 10px;
}

.seats{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 24px;
}

.seat{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(195, 207, 217, 1);
  border: 1px solid rgba(128, 143, 157, 1);
  border-radius: 12px;
  color: rgba(0, 0, 0, 1);
  font-size: 11px;
  font-weight: 400;
  margin-right: 7px;
  margin-bottom: 18px;
}

.legend-color{
  display: flex;
  justify-content: space-evenly;
  margin: 0 -20px;
}
.legend-text{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgba(78, 90, 101, 1);
  font-size: 13px;
  font-weight: 400;
}

.legend-color div{
  width: 25px;
  height: 25px;
  border-radius: 17px;
}

.selected{
  border: 1px solid rgba(26, 174, 158, 1);
  background-color: rgba(141, 215, 207, 1);
}
.available{
  border: 1px solid rgba(123, 139, 153, 1);
  background-color: rgba(195, 207, 217, 1);
}
.unavailable{
  border: 1px solid rgba(247, 197, 43, 1);
  background-color: rgba(251, 225, 146, 1);
}
.legends p{
  width: 33%;
}

.buyer-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buyer-data p{
  width: 90%;
  justify-content: left;
  color: rgba(41, 56, 69, 1);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.buyer-data input{
  color: rgba(41, 56, 69, 1);
  font-size: 18px;
  font-weight: 400;
  padding: 18px;
  height: 51px;
  width: 90%;
  margin-bottom: 7px;
}
input::placeholder{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.end-of-page{
  margin-top: 55px;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.end-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width:225px;
  background-color: rgba(232, 131, 58, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  border-radius: 3px;
}

@media (max-width: 375px) {
}
